{% extends "base.html" %}

{% block main_content %}

        <div class="wrapper">
            <!-- Sidebar -->
            <div id="sidebar" class="bg-light">
                {% if not user_in_room %}
                    <a href="/cah/{{ object.id }}/join" class="button">Join</a>
                {% else %}
                    <a href="/cah/{{ object.id }}/leave" class="button">Leave</a>
                    {% if object.waiting_players %}
                        <a href="/cah/{{ object.id }}/start" class="button">Start</a>
                    {% else %}
                        <a href="/cah/{{ object.id }}/stop" class="button">Stop</a>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                        <div id="cards-left"></div>
                        <div id="stats-scores"></div>
                        <div id="chat-log" class="pre-scrollable panel container-fluid bg-white"></div><br>
                        {% if user_in_room %}
                            <input id="chat-message-input" class="form-control" type="text" size="100"><br>
                            <input id="chat-message-submit" type="button" class="btn" value="Send">
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div id="content" class="content-main">
                <!-- We'll fill this with dummy content -->
                 <h3>Welcome to {{ object.name }}!</h3>
                <div id="game-content">
                    <div id="story" class="d-none">
                        <div id="story-write">
                            <h4>Create a story</h4>
                            <input id="story-input" class="form-control" type="text" size="100">
                            <input id="story-submit" type="button" class="btn" value="Send">
                        </div>
                        <div id="story-wait">
                        </div>
                    </div>
                    <div id="choice" class="d-none">
                        <div id="choice-story"></div>
                        <div id="choice-wait">
                            <h4>Waiting for other players to choose a card</h4>
                            <div id="choice-story"></div>
                        </div>
                        <div id="choice-do">
                            <h4>Choose a card to suit the story</h4>
                            <input id="choice-submit" type="button" class="btn" value="Send">
                        </div>
                    </div>
                    <div id="vote" class="d-none">
                        <div id="vote-story">
                        </div>
                        <div id="vote-wait">
                            <h4>Waiting for other players to vote</h4>
                        </div>
                        <div id="vote-do">
                            <h4>Vote for storyteller's card</h4>
                            <input id="vote-submit" type="button" class="btn" value="Send">
                        </div>
                    </div>
                    <div id="wait" class="d-none">
                        <h4>Waiting for game to start</h4>
                    </div>
                    <div id="card-set" class="container">
                    </div>
                    <div id="prev-story"></div>
                    <h5>Previous round votes:</h5>
                    <div id="stats-card-set" class="container">
                    </div>
                </div>
                 <hr>
            </div>
            <div id="sidebar">
                <div id="cardBig" class="align-top d-inline-block"></div>
            </div>
        </div>


        <script>
            function showBigCard(i) {
                $("#cardBig").html('<img width="100%" src="/static/img/cah/' + i + '">');
                $("#cardBig").show();
            }

            function setChoice(j) {
                for (let i = 0; i < 6; ++i) {
                    $(`#card-${i+1}`).removeClass("my-choice");
                }
                $(`#card-${j+1}`).addClass("my-choice");
            }

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/cah/chat/'
                + {{ object.id }}
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.type === "chat_message") {
                    document.querySelector('#chat-log').innerHTML += ('<p><b>' + data.from_user + ':</b> ' + data.message + '</p>');
                } else if (data.type === "stats_update") {
                    let innerScores = '<table class="table table-bordered"><tr><th>Player</th><th>Score</th><th>Round</th></tr>';
                    for (let i = 0; i < data.scores.length; ++i) {
                        innerScores += '<tr><td>';
                        innerScores += `${data.scores[i]["name"]} </td> <td> ${data.scores[i]["score"]} </td><td> ${data.scores[i]["round"]}`;
                        innerScores += '</td></tr>';
                    }
                    innerScores += '</table>';
                    document.querySelector('#stats-scores').innerHTML = innerScores;
                    document.querySelector('#cards-left').innerHTML = `<h5>Cards left: ${data.stack}</h5>`;
                    let inner = '<div id="card-set">';
                    for (let i = 0; i < data.card_set.length; ++i) {
                        let classVal = "";
                        if (data.card_set[i].host) {
                            classVal = ' class="story-card"';
                        }
                        inner += `<div class="card align-top d-inline-block"><img height="200" onmouseover="showBigCard('${data.card_set[i]["path"]}')" src="/static/img/cah/${data.card_set[i]["path"]}"${classVal}`;
                        inner += '<p>';
                        for (let j = 0; j < data.card_set[i].users.length; ++j) {
                            inner += `${data.card_set[i].users[j]} `;
                        }
                        inner += "</p></div>";
                    }
                    inner += '</div>';
                    document.querySelector('#stats-card-set').innerHTML = inner;
                }
                else if (data.type === "state_update") {
                    document.querySelector('#vote').className = 'd-none';
                    document.querySelector('#wait').className = 'd-none';
                    document.querySelector('#choice').className = 'd-none';
                    if (data.state == "wait") {
                         document.querySelector('#wait').className = 'd-block';
                    }
                    else if (data.state == "choice") {
                        document.querySelector('#choice-story').innerHTML = `<h4>Story is: ${data.story}</h4>`;
                        if (data.is_observer || data.is_host || data.action_required == false) {
                            document.querySelector('#choice-wait').className = 'd-block';
                            document.querySelector('#choice-do').className = 'd-none';
                        }
                        else {
                            document.querySelector('#choice-wait').className = 'd-none';
                            document.querySelector('#choice-do').className = 'd-block';
                        }
                        document.querySelector('#choice').className = 'd-block';
                    }
                    else if (data.state == "vote") {
                        document.querySelector('#vote-story').innerHTML = `<h4>Story is: ${data.story}</h4>`;
                        if (data.is_observer || data.is_host || data.action_required == false) {
                            document.querySelector('#vote-wait').className = 'd-block';
                            document.querySelector('#vote-do').className = 'd-none';
                        }
                        else {
                            document.querySelector('#vote-wait').className = 'd-none';
                            document.querySelector('#vote-do').className = 'd-block';
                        }
                        document.querySelector('#vote').className = 'd-block';
                    }
                    else if (data.state == "story") {
                        if (data.is_host) {
                            document.querySelector('#story-write').className = 'd-block';
                            document.querySelector('#story-wait').className = 'd-none';
                        }
                        else {
                            document.querySelector('#story-write').className = 'd-none';
                            document.querySelector('#story-wait').innerHTML = `<h4>Waiting for ${data.story} to pick a card</h4>`;
                            document.querySelector('#story-wait').className = 'd-block';
                        }
                        document.querySelector('#story').className = 'd-block';
                    }
                    let inner = "";
                    for (let i = 0; i < data.card_set.length; ++i) {
                        let classVal = ` onclick="setChoice(${i})"`;
                        if (data.card_set[i]["my"] && data.state == "vote") {
                            classVal = ' class="my-card"';
                        }
                        inner += `<div id="card-${i+1}" class="align-top d-inline-block">`;
                        inner += (`<img height="200" id="${data.card_set[i]["id"]}" onmouseover="showBigCard('${data.card_set[i]["path"]}')" src="/static/img/cah/${data.card_set[i]["path"]}"${classVal}>`);
                        inner += '</div>';
                    }
                    document.querySelector('#card-set').innerHTML = inner;
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                if (message.length <= 0) {
                    $( "#chat-message-input" ).effect("shake", {distance: 5});
                } else {
                    chatSocket.send(JSON.stringify({
                        'type': 'message',
                        'message': message
                    }));
                    messageInputDom.value = '';
                }
            };

            document.querySelector('#story-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#story-submit').click();
                }
            };

            document.querySelector('#story-submit').onclick = function(e) {
                const storyInputDom = document.querySelector('#story-input');
                const story = storyInputDom.value;
                const storyChoiceDom = document.querySelector('.my-choice');
                if (story.length <= 0) {
                    $( "#story-input" ).effect("shake", {distance: 5});
                } else if (!storyChoiceDom) {
                    $( "#card-set" ).effect("shake", {distance: 5});
                } else {
                    const card = storyChoiceDom.getElementsByTagName("img")[0];
                    chatSocket.send(JSON.stringify({
                        'type': 'game-event',
                        'game-event': 'story',
                        'story': story,
                        'choice': card.id
                    }));
                    storyInputDom.value = '';
                    $( ".my-choice" ).removeClass("my-choice");
                }
            };

            document.querySelector('#choice-submit').onclick = function(e) {
                const storyChoiceDom = document.querySelector('.my-choice');
                if (!storyChoiceDom) {
                    $( "#card-set" ).effect("shake", {distance: 5});
                } else {
                    const card = storyChoiceDom.getElementsByTagName("img")[0];
                    chatSocket.send(JSON.stringify({
                        'type': 'game-event',
                        'game-event': 'choice',
                        'choice': card.id
                    }));
                    $( ".my-choice" ).removeClass("my-choice");
                }
            };

            document.querySelector('#vote-submit').onclick = function(e) {
                const storyChoiceDom = document.querySelector('.my-choice');
                if (!storyChoiceDom) {
                    $( "#card-set" ).effect("shake", {distance: 5});
                } else {
                    const card = storyChoiceDom.getElementsByTagName("img")[0];
                    chatSocket.send(JSON.stringify({
                        'type': 'game-event',
                        'game-event': 'vote',
                        'choice': card.id
                    }));
                    $( ".my-choice" ).removeClass("my-choice");
                }
            };


        </script>
{% endblock %}
