{% extends "base.html" %}

{% block main_content %}

        <div class="wrapper">
            <!-- Sidebar -->
            <div id="sidebar" class="bg-light">
                {% if not user_in_room %}
                    <a href="/dixit/{{ object.id }}/join" class="button">Join</a>
                {% else %}
                    <a href="/dixit/{{ object.id }}/leave" class="button">Leave</a>
                    {% if object.waiting_players %}
                        <a href="/dixit/{{ object.id }}/start" class="button">Start</a>
                    {% else %}
                        <a href="/dixit/{{ object.id }}/stop" class="button">Stop</a>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                        <div>Users in room: <span id="connections-num"></span></div>
                        <div id="chat-log" class="pre-scrollable panel container-fluid bg-white"></div><br>
                        {% if user_in_room %}
                            <input id="chat-message-input" class="form-control" type="text" size="100"><br>
                            <input id="chat-message-submit" type="button" class="btn" value="Send">
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div id="content" class="content-main container-fluid">
                <!-- We'll fill this with dummy content -->
                 <h3>Welcome to {{ object.name }}!</h3>
                <div id="game-content">
                    <div id="story" class="d-none">
                        <div id="story-write">
                            <h4>Create a story</h4>
                            <input id="story-input" class="form-control" type="text" size="100">
                            <input id="story-submit" type="button" class="btn" value="Send">
                        </div>
                        <div id="story-wait">
                            <h4>Waiting for storyteller to pick a card</h4>
                        </div>
                    </div>
                    <div id="choice" class="d-none">
                        <div id="choice-wait">
                            <h4>Waiting for other players to choose a card</h4>
                        </div>
                        <div id="choice-do">
                            <h4>Choose a card to suit the story</h4>
                        </div>
                    </div>
                    <div id="vote" class="d-none">
                        <div id="vote-wait">
                            <h4>Waiting for other players to vote</h4>
                        </div>
                        <div id="vote-do">
                            <h4>Vote for storyteller's card</h4>
                        </div>
                    </div>
                    <div id="wait" class="d-none">
                        <h4>Waiting for game to start</h4>
                    </div>
                    <div id="card-set">
                        <table><tr>
                            <td id="card-1"></td>
                            <td id="card-2"></td>
                            <td id="card-3"></td>
                            <td id="card-4"></td>
                            <td id="card-5"></td>
                            <td id="card-6"></td>
                        </tr></table>
                    </div>
                </div>
                 <hr>
            </div>

        </div>


        <script>
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + {{ object.id }}
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.type === "chat_message") {
                    document.querySelector('#chat-log').innerHTML += ('<p><b>' + data.from_user + ':</b> ' + data.message + '</p>');
                }
                else if (data.type === "connections_changed") {
                    document.querySelector('#connections-num').innerHTML = data.current_number;
                }
                else if (data.type === "state_update") {
                    document.querySelector('#story').className = 'd-none';
                    document.querySelector('#vote').className = 'd-none';
                    document.querySelector('#wait').className = 'd-none';
                    document.querySelector('#choice').className = 'd-none';
                    if (data.state == "wait") {
                         document.querySelector('#wait').className = 'd-block';
                    }
                    else if (data.state == "choice") {
                        if (data.is_observer || data.is_host) {
                            document.querySelector('#choice-wait').className = 'd-block';
                            document.querySelector('#choice-do').className = 'd-none';
                        }
                        else {
                            document.querySelector('#choice-wait').className = 'd-none';
                            document.querySelector('#choice-do').className = 'd-block';
                        }
                        document.querySelector('#choice').className = 'd-block';
                    }
                    else if (data.state == "vote") {
                        if (data.is_observer || data.is_host) {
                            document.querySelector('#vote-wait').className = 'd-block';
                            document.querySelector('#vote-do').className = 'd-none';
                        }
                        else {
                            document.querySelector('#vote-wait').className = 'd-none';
                            document.querySelector('#vote-do').className = 'd-block';
                        }
                        document.querySelector('#vote').className = 'd-block';
                    }
                    else if (data.state == "story") {
                        if (data.is_host) {
                            document.querySelector('#story-write').className = 'd-block';
                            document.querySelector('#story-wait').className = 'd-none';
                        }
                        else {
                            document.querySelector('#story-write').className = 'd-none';
                            document.querySelector('#story-wait').className = 'd-block';
                        }
                        document.querySelector('#story').className = 'd-block';
                    }
                    let i = 0;
                    while (i < data.card_set.length) {
                        document.querySelector(`#card-${i+1}`).innerHTML = ('<img height="200" src="/static/img/dixit/' + data.card_set[i] + '">');
                        ++i;
                    }
                    while (i < 6) {
                        document.querySelector(`#card-${i+1}`).innerHTML = ('');
                        ++i;
                    }
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                if (message.length <= 0) {
                    $( "#chat-message-input" ).effect("shake", {distance: 5});
                } else {
                    chatSocket.send(JSON.stringify({
                        'type': 'message',
                        'message': message
                    }));
                    messageInputDom.value = '';
                }
            };

            document.querySelector('#story-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#story-submit').click();
                }
            };

            document.querySelector('#story-submit').onclick = function(e) {
                const storyInputDom = document.querySelector('#story-input');
                const story = storyInputDom.value;
                if (story.length <= 0) {
                    $( "#story-input" ).effect("shake", {distance: 5});
                } else {
                    chatSocket.send(JSON.stringify({
                        'type': 'game-event',
                        'game-event': 'story',
                        'story': story
                    }));
                    storyInputDom.value = '';
                }
            };


        </script>
{% endblock %}